@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.App {  
   font-family: Inter;
   width: 60%;
   margin: 0 auto;
}

#title {
   color: rgb(200, 210, 255);
   font-size: 50px;
   width: 85%;
   margin: 0 auto;
   margin-bottom: 30px;
}



